<!--策略列表页面-->
<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi行业客户Portal平台<span class="flag">></span>策略管理<span class="flag">></span>策略列表</div>
</div>
<div class="content-fixed">
    <div class="awifi-padding-left20">
        <div class="awifi-form-sheet">
            <div class="form-item-input awifi-Col-2 awifi-margin-right awifi-margin-right">
                <input class="input-control" placeholder="请输入策略名称" data-ng-model="keywords">
            </div>
            <div class="awifi-left awifi-padding-left" >
                <button class="form-primary" data-ng-click="list()">
                    <span>查询</span>
                </button>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top" >
                <a href="#/policy/add" class="btn add-form-primary">
                    <span>添加策略</span>
                </a>
            </div>
        </div>
        <div class="listtitle">
            <span class="list10">&nbsp;策略标题</span>
            <span class="list10">&nbsp;站点名称</span>
            <span class="list10">&nbsp;客户名称</span>
            <span class="list10">&nbsp;SSID</span>
            <span class="list10">&nbsp;设备名称</span>
            <span class="list20">&nbsp;优先级</span>
            <span class="list20">&nbsp;有效日期</span>
            <span class="">&nbsp;操作</span>
        </div>
    </div>
</div>
<div class="content-one">
    <div class="datacontent">
        <div class="listcontent" data-ng-repeat="project in projects">
            <span class="list10">&emsp;{{ begin + $index + 1 }}</span>
            <span class="list10 substring" title="{{ project.projectName }}">&nbsp;{{ project.projectName }}</span>
            <span class="list10">&nbsp;{{ project.createDate }}</span>
            <span class="list10 substring" title="{{ project.contact }}">&nbsp;{{ project.contact }}</span>
            <span class="list10">&nbsp;{{ project.contactWay }}</span>
            <span class="list20 substring" title="{{ project.remark}}">&nbsp;{{ project.remark}}</span>
            <span class="list20 substring" title="{{ project.remark}}">&nbsp;{{ project.remark}}</span>
            <span class="oper10">
                <a href="#/project/edit?id={{ project.projectId }}">配置</a>
                <a class="red" data-ng-click="delete(project.projectId)">删 除</a>
            </span>
        </div>
        <div data-ng-if="projects.length==0" class="no-records">查询完成，没有找到相应的数据</div>
    </div>
</div>
<div class="footer-fixed">
    <div class="right_footer" data-ng-show="showPageBar">
        <div class="right_footer_page">
        </div>
        <div class="page_num">
            <ul>
                <li>每页显示</li>
                <li><input type="button" value="15" class="show_page" /> </li>
                <li><input type="button" value="30" class="show_page" /></li>
                <li><input type="button" value="50" class="show_page" /></li>
                <li>行</li>
            </ul>
        </div>
        <div class="nothing"></div>
    </div>
</div>