@charset "utf-8";
._Setting_ .form-group {
    margin: 8px;
}
._Setting_ .form-title {
    margin-top: 10px;
    font-size: 16px;
}
._Setting_ .radio-inline {
    font-size: 14px;
    color: #c00;
    font-weight: 700;
}
._Setting_ .control-label {
    font-weight: 400;
}
._Setting_ .form-foot {
    padding-top: 10px;
}
._Setting_ #hr-line {
    height: 2px;
    background-color: #ddd;
    margin-top: 15px;
    margin-bottom: 10px;
}
#styles .col-sm-9 {
    margin: 0;
    padding: 0;
}
#styles .radio-inline div {
    height: 32px;
    line-height: 32px;
    width: 4em;
    border: none;
    background-color: transparent;
    font-size: 14px;
    margin-right: 1em;
    border-radius: 2px;
    text-align: center;
    vertical-align: middle;
}
#styles .radio-inline input {
    margin-top: 8px;
}
#styles .radio-inline div.st1 {
    background-color: #0d8cdb;
    color: #fff;
}
#styles .radio-inline div.st2 {
    background-color: #693305;
    color: #fff;
}
#styles .radio-inline div.st3 {
    background-color: #e8a4a5;
    color: #fff;
}
#styles .radio-inline div.st4 {
    background-color: #fccf38;
    color: #fff;
}
#styles .radio-inline div.st5 {
    background-color: #10c35b;
    color: #fff;
}
#styles .radio-inline div.st6 {
    background-color: #d83433;
    color: #fff;
}
#styles .radio-inline div.st7 {
    background-color: #e61875;
    color: #fff;
}
#styles .radio-inline div.st8 {
    background-color: #8e4497;
    color: #fff;
}
#styles .radio-inline div.st9 {
    background-color: #2abfd4;
    color: #fff;
}