<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi行业客户Portal平台<span class="flag">></span>日志管理<span class="flag">></span>系统参数配置<span class="flag">></span>增加系统参数配置</div>
</div>
<div class="content">
    <div class="sysconfig-edit-body awifi-free-width">
        <div class="awifi-form-sheet">
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">名称：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入名称" data-ng-model="sysconfig.aliasName" maxlength="50">
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">Key：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入Key" data-ng-model="sysconfig.paramKey" maxlength="30">
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">Value：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入Value" data-ng-model="sysconfig.paramValue" maxlength="100">
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">排序号：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入Value" data-ng-model="sysconfig.orderNo" >
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">备注：</label>
                <div class="form-item-textarea awifi-Col-6">
                    <textarea id="remark" rows="5" placeholder="请输入备注" class="textareaw490"  data-ng-model="sysconfig.remark" ></textarea>
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">&emsp;</label>
                <div class="awifi-left awifi-padding-left">
                    <button class="form-primary awifi-left" type="button" data-ng-click="add()">
                        <span>&nbsp;保&emsp;存&nbsp;</span>
                    </button>
                </div>
                <div class="awifi-left awifi-padding-left awifi-padding-top">
                    <a href="#/sysconfig/list" class="btn back-form-primary">
                        <span>&nbsp;取&nbsp;消&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>