body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    min-height: 593px;
    margin: 0 auto;
    background: url("../images/ie8/timebuy_bg.png") no-repeat;
    background-size:100% 100%;
}
.container .nav {
    position: relative;
    text-align: center;
    width: 330px;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(90deg, rgba(255,255,255,0.10) 0%, rgba(255,255,255,0.50) 50%, rgba(255,255,255,0.10) 100%);
    top:24px;
    margin: 0 auto;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
}
.container .nav .nav-title {
    font-family: PingFangSC-Semibold;
    font-size: 25px;
    color: #4A90E2;
    letter-spacing: 0;
}
.container .content {
    position: relative;
    text-align: center;
    width: 330px;
    margin: 0 auto;
    margin-top: 40px;
}
.container .content .content-login .account {
    width: 320px;
    height: 43px;
    background-size:100% 100%;
}
.container .content .content-login .code {
    width: 320px;
    height: 43px;
    background-size:100% 100%;
    margin-top: 10px;
}
.container .content .content-login .code .setcode {
    float: left;
    height: 100%;
    width: 70%;
}
.container .content .content-login .code .getcode {
    float: left;
    height: 100%;
    width: 30%;
}
.getcode .inactive {
    color: #a2a2a2;
}
.account input, .setcode input {
    margin: 2px 0 2px 5px;
    padding-left: 8px;
    height: 37px;
    line-height: 37px;
    font-size: 15px;
    border: none;
    border:0;
    outline: medium;
}
.account input {
    width: 300px;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.setcode input {
    width: 200px;
    margin-left: 8px;
    float: left;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.getcode input {
    float: left;
    width: 92px;
    height: 38px;
    line-height: 38px;
    display: block;
    border: 0;
    margin-top: 1px;
    border-radius: 5px;
    -ms-border-radius:5px;
    color: #4A90E2;
    background-color: #F6F6F6;
}
.container .content .content-login .login-btn {
    margin: 20px auto 0 auto;
    width: 320px;
    height: 43px;
}
.container .content .content-login .login-btn input {
    display: block;
    width: 310px;
    height: 43px;
    line-height: 43px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #4A90E2;
    border: 0;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.container .content .content-fastlogin .fastlogin-user {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.container .content .content-fastlogin .fastlogin-btn {
    margin: 20px auto 0 auto;
    width: 360px;
    height: 43px;
}
.container .content .content-fastlogin .fastlogin-btn input {
    display: block;
    width: 330px;
    height: 43px;
    line-height: 43px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #4A90E2;
    border: 0;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.container .content .content-fastlogin .changeaccount {
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0;
    float: left;

}
.container .content .content-vip .vip-msg {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #4A90E2;
    letter-spacing: 0;
    height: 50px;
    width: 100%;
}
.container .content .content-buyout .buyout-msg {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #4A90E2;
    letter-spacing: 0;
    height: 50px;
    width: 100%;
}
.container .content .content-changebtn {
    height: 60px;
}
.container .content .content-changebtn .changeaccount {
    /*height: 20px;*/
    float: left;
    width: 50%;
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0;
    text-align: left;
}
.container .content .content-changebtn .timebuydetail {
    /*height: 20px;*/
    float: left;
    width: 50%;
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0;
    text-align: right;
}
.container .content .content-changebtn .close{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    background: url(../images/ie8/timebuy_down.png) no-repeat;
    float: right;
    border: 0;

}
.container .content .content-changebtn .open{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    background: url(../images/ie8/timebuy_up.png) no-repeat;
    float: right;
    border: 0;

}
.container .content .content-timebuy .getfreepkg input {
    display: block;
    width: 330px;
    height: 43px;
    line-height: 43px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #4A90E2;
    border: 0;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.container .content .content-timebuy .timebuy-msg {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #4A90E2;
    letter-spacing: 0;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}
.container .content .content-timebuy .timebuy input {
    display: block;
    width: 330px;
    height: 43px;
    line-height: 43px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #4A90E2;
    border: 0;
    border-radius: 5px;
    -ms-border-radius:5px;
}
.container .content .content-details {
    width: 600px;
    min-height: 50px;
    margin-left: -150px;
    background: rgba(255,255,255,0.20);
    border-radius: 6px 6px 0 0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
}
.container .content .content-details .user-title {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 0;
    height: 50px;
    /* width: 100%; */
    text-align: left;
    line-height: 50px;
    padding-left: 50px;
    background: rgba(255,255,255,0.20);
    border-radius: 6px 6px 0 0;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
}
.container .content .content-details .user-msg {
    list-style: none;
    text-align: left;
    /*padding-left: 50px;*/
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #043A7A;
    letter-spacing: 0;
    /*width: 100%;*/
}
.container .content .content-details .user-msg li {
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}
.container .content .content-details .user-timemsg {
    list-style: none;
    text-align: left;
    /*padding-left: 50px;*/
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #043A7A;
    letter-spacing: 0;
    /*width: 100%;*/
}
.container .content .content-details .user-timemsg li {
    height: 30px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.container .content .content-details .user-timemsg li .time {
    float: left;
}

.container .content .content-details .user-timemsg li .price {
    float: right;
}


.container .content .content-details .user-timemsg .detail-btn {
    width: 100%;
    height: 30px;
    border: 0 solid #DDD;
}
.container .content .content-details .user-timemsg .detail-btn .detail-img {
    height: 23px;
    width: 32px;
    margin-top: 10px;
    background-image: url(../images/ie8/timebuy_btn1.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/ie8/timebuy_btn1.png", sizingMethod='scale');
    /* text-align: center; */
    margin-left: 230px;
}
