@charset "utf-8";

._Entity_ {
    word-break: break-all;
    word-break: break-word;
    /*padding: 6px;*/
    /*position: relative;*/
}

/*登录组件*/
._Entity_ .common {
    width: 100%;
    min-height: 180px;
    padding-top: 5%;
}
._Entity_ .common .input-row {
    height: 55px;
    width: 95%;
    padding-top: 5px;
    padding-left: 5%;
    padding-bottom: 5px;
}
._Entity_ .common .input-row .telephone {
    width:100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #8BABD7;
    border-radius: 4px;
    text-indent: 1em;
}
._Entity_ .common .input-row .code {
    width:70%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #8BABD7;
    border-radius: 4px;
    /*font: inherit;*/
    text-indent: 1em;
    float: left;
}
._Entity_ .common .input-row .get-code {
    background: #2E67B6;
    border-radius: 4px;
    float: left;
    width: 28%;
    height: 44px;
    color: white;
    margin-left: 2%;
    border: 1px solid transparent;
}
._Entity_ .common .input-row .login-btn {
    width:100%;
    height: 44px;
    background: #2E67B6;
    border-radius: 4px;
    color: white;
    border: 1px solid transparent;
}

/*时长购买组件*/
._Entity_ .timebuy {
    width: 100%;
    min-height: 180px;
    padding-top: 5%;
}
._Entity_ .timebuy .timebuy-row {
    height: 55px;
    width: 95%;
    padding-top: 5px;
    padding-left: 5%;
    padding-bottom: 5px;
}
._Entity_ .timebuy .timebuy-row .message {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
}
._Entity_ .timebuy .timebuy-row .timebuy-login {
    width:100%;
    height: 44px;
    background: #2E67B6;
    border-radius: 4px;
    color: white;
    border: 1px solid transparent;
}
._Entity_ .timebuy .timebuy-row .left {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2E67B6;
    float: left;
}
._Entity_ .timebuy .timebuy-row .right {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2E67B6;
    float: right;
}
._Entity_ .timebuy .timebuy-row .left .timebuy-account {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2E67B6;
    background: transparent;
    border: 0px;
}
._Entity_ .timebuy .timebuy-row .right .timebuy-detail {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #2E67B6;
    background: transparent;
    border: 0px;
    float: left;
    margin-right: 5px;
}
._Entity_ .timebuy .timebuy-row .right .icon {
    /*transform: rotate(-135deg);*/
    width: 7px;
    height: 7px;
    border-top: 1px solid #2E67B6;
    border-left: 1px solid #2E67B6;
    float: left;
    /*margin-top: 2px;*/
}

._Entity_ .detail {
    width: 100%;
    min-height: 180px;
}
._Entity_ .detail .detail-title {
    width: 100%;
    height: 40px;
    background: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
}
._Entity_ .detail .detail-title .title-font {
    text-align: left;
    padding-top: 11px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #888888;
    padding-left: 10px;
}
._Entity_ .detail .detail-list {
    width: 95%;
    padding-left: 5%;
}
._Entity_ .detail .detail-list .detail-content {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 16px;
    padding-top: 13px;
}
._Entity_ .detail .detail-list .detail-row {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 13px;
}
._Entity_ .detail .detail-list .detail-row .time {
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 16px;
}
._Entity_ .detail .detail-list .detail-row .price {
    float: right;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    line-height: 16px;
}
._Entity_ .detail .detail-list .detail-btn {
    width: 100%;
    height: 44px;
    background: white;
    border: 0px solid #DDDDDD;
 }
._Entity_ .detail .detail-list .detail-btn .detail-img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-image: url(../image/timebuy_btn1.png);
    background-repeat: no-repeat;
    background-size: 23px 20px;
    background-position: center;
}