@charset "utf-8";
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td /* table elements 表格元素 */ {
	margin: 0;
	padding: 0;
}
/** 字体 **/
body, select, input, textarea {
	font: 12px/1.2 'Microsoft Yahei', Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}
/** iPhone按钮样式还原 **/
input[type=button]{
	-webkit-appearance:none;
}
/** 滚动条 **/
::-webkit-scrollbar /*整体部分*/
{
	width: 4px; /*横向滚动条宽度*/
	height: 4px; /*纵向滚动条高度*/
}
::-webkit-scrollbar-track /*滑动轨道*/
{
	border-radius: 0px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb /*滑块*/
{
	background-color: #cbcbcb;
}
a:focus {
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration:none;
	outline:none;
}
a:visited {
	text-decoration:none;
	outline:none;
}
/* bootstrap overwrite */
input[type=checkbox], input[type=radio] {
    margin: 1px 0 0;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-top: 1px \9;
}
.form-horizontal .control-label{
    padding-top: 5px;
}
.form-group {
    margin-bottom: 10px;
}
.form-control {
    padding: 3px 6px;
    height: 28px;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 5px;
}
/* photo HTML5 css */
.container .photoh5-overlay {
    position: fixed;
    width: 345px;
    height: 636px;
    padding-left: -15px;
    /*top: 0px;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
    /*right: 0px;*/
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.35);
    z-index: 100;
}
.container .photoh5-overlay .photoh5 {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 200px;
    box-shadow:  0 0 6px #000;
}
.photoh5 .ph5-warp {
    margin-bottom: 12px;
}
.photoh5 .ph5-title {
    height: 36px;
    line-height: 36px;
    text-indent: 15px;
    background-color: #F6F8FA;
    border-bottom: 1px solid #DFDFDF;
    font-size: 120%;
    font-weight: bold;
    position: relative;
}
.photoh5 .ph5-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-image: url(../images/portal/icon/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.photoh5 .ph5-body {
    padding-bottom: 10px;
}
.photoh5 .browse-file {
    position: relative;
    overflow: hidden;
    float: left;
    background-color: #E6412D;
    border-radius: 2px;
    width: 6em;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin-left: 15px;
    margin-right: .5em;
}
.photoh5 .browse-file input {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200%;
    height: 200%;
    outline: none;
    font-size: 300%;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
.photoh5 .borwse-tip {
    color: #A4A9AE;
    height: 30px;
    line-height: 30px;
}
.photoh5 .ph5-preview {
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    /* background-image: url(../images/portal/default-16-9.png); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.photoh5 .ph5-preview .ph5-pre-jcrop {
    width: 100%;
    height: 100%;
}
.photoh5 .ph5-preview .ph5-pre-jcroped {
    background-color: #3D3D3D;
}
.photoh5 .ph5-preview img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border: none;
}
.photoh5 .ph5-toolbar {
    text-align: center;
}
.photoh5 .ph5-toolbar .ph5-upload {
    background-color: #E6412D;
    border: none;
    border-radius: 2px;
    width: 4em;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    margin: 0 6px;
}
.photoh5 .ph5-toolbar .ph5-upload[disabled] {
    background-color: #D0D4D9;
}
.photoh5 .ph5-toolbar .ph5-cancel {
    background-color: #D0D4D9;
    border: none;
    border-radius: 2px;
    width: 4em;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    margin: 0 6px;
}
.awifi_alert {
    position: absolute;
    top: -30px;
    left: 20px;
    width: 90%;
    border: 1px solid #ffddcc;
    padding: 8px;
    background-color: #FFEEE6;
    text-align: center;
    border-radius: 5px;
}