@charset "utf-8";
#styles .radio-inline div {
    height: 32px;
    line-height: 32px;
    width: 4em;
    border: none;
    background-color: transparent;
    font-size: 14px;
    margin-right: 1em;
    /*border-radius: 2px;*/
    text-align: center;
}
#styles .radio-inline div.st1 {
    background-color: #0d8cdb;
    color: #fff;
}
#styles .radio-inline div.st2 {
    background-color: #693305;
    color: #fff;
}
#styles .radio-inline div.st3 {
    background-color: #e8a4a5;
    color: #fff;
}
#styles .radio-inline div.st4 {
    background-color: #fccf38;
    color: #fff;
}
#styles .radio-inline div.st5 {
    background-color: #10c35b;
    color: #fff;
}
#styles .radio-inline div.st6 {
    background-color: #d83433;
    color: #fff;
}
#save {
    width: 50%;
    margin: 10px auto;
}